# Let git ignore some filetypes

# Ignore certain folders
data/*
solr-*

# Python bytecompiled files
*.py[#cod]
*$py.class
gfxtest.py

# We only want specifically added text type files
*README*
*.txt
*.xml
*.properties
*.unloaded
*.conf
*.html
*.[ct]sv
*.json
*.cfg
*.ini
*.da
*.meta
*.jsonl
*.conll
*.tex
*.el
*[t.]log*
*.sh
*.bat
*.css
*.MF
*schema*
*.vm
*.xsl
*.si
*.liv
*.fd[tx]
*.fnm
*.ti[mp]
*.doc
*.pos
*.nv[dm]
*.lock
*segments_*

# No compressed files
*.zip
*.jar
*.war


# No images
*.jpg
*.jpeg
*.png
*.ico
*.gif
*.swf
*.svg
