@import url();

.portrait {
	float: clear;
	min-height: 200px;
}

.portrait a {
	color: blue;	
}

.portrait img {
	float: left;
	padding-right: 0.3em;	
}


.dataframe tr th {
    padding: 0.1em;
    text-align: center;
}

.dataframe tr td {
    padding: 0.1em;
    text-align: right;
}


#mapid {
    height: 400px;
    width: 500px;
    margin: auto;
}

#genderdistro {
    align: center;
    margin: auto;
}

#agedistro {
    align: center;
    margin: auto;
}
