{% extends "humboldt_layout.html" %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="row">
    <p class=portrait>
        <img src="../static/img/dirk.png">
        <a href="http://www.dirkhovy.com">Dirk Hovy</a> is a postdoc in Natural Language Processing at the Center for
        Language Technology, working on computational sociolinguistics. His research interests include the interaction of
        extra-linguistic factors, language use, and statistical models.
        Outside of research, Dirk enjoys cooking, tango, and leather-crafting, as well as picking up heavy things and
        putting them back down.
    </p>

    <p class=portrait>
        <img src="../static/img/anders.png">
        <a href="http://www.johannsen.com/">Anders Johannsen</a> is a Natural Language Processing Researcher at Apple and a
        former postdoc in Natural Language Processing at the Center for Language Technology of the University of Copenhagen.
        His interests include developing robust language technology that allows us to cross time, domain, and language
        barriers to analyze culture and language at a larger scale.
    </p>

    <p class=portrait>
        <img src="../static/img/alex.png">
        <a href="https://en.wikipedia.org/wiki/Alexander_von_Humboldt">Alexander von Humboldt</a> was a German explorer,
        geographer, and scientist, who discovered and cartographed parts of the Amazon.
    </p>

    <p class=portrait>
        <img src="../static/img/will.png">
        <a href="https://en.wikipedia.org/wiki/Wilhelm_von_Humboldt">Wilhelm von Humboldt</a> was a German linguist and
        politician, who worked on the philology of languages.
    </p>

</div>
{% endblock %}

