{% extends "humboldt_layout.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}


<p>
    Welcome to Humboldt, a tool for large-scale sociolinguistics for everyone!
</p>

<p>
    We provide an interface to search lexical phenomena in several languages, and to get
    statistical analysis and maps of the results along several demographic factors. And the best: You don't need any
    programming experience, training in statistical methods, knowledge of geographical information systems, or expertise
    in natural language processing.
</p>

<p>
    This tool is named after the Humboldt brothers, because - like them - it combines linguistic knowledge and scientific exploration.
    We use large amounts of data from online reviews.
</p>

<p>Try out any search:</p>

{% include 'single_search_bar.html' %}

<p>
    Not sure how to start? You can look at the results for <a href="">XXX in Danish</a> or <a href="">XXX in English.</a>
</p>


{% endblock %}

