{% extends "humboldt_layout.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div class="row">
    <p>
        Welcome to Humboldt, a tool for large-scale sociolinguistics for everyone!
    </p>

    <p>
        We provide an interface to search lexical phenomena in several languages, and to get
        statistical analysis and maps of the results along several demographic factors. You don't need any
        programming experience, training in statistical methods, knowledge of geographical information systems, or expertise
        in natural language processing.
    </p>

    <p>
        This tool is named after the Humboldt brothers, because - like them - it combines linguistic knowledge and
        scientific exploration.
    </p>

    <p>
        We use data from various online sources, and are constantly expanding our coverage, the languages you can search,
        and the services we provide, so check back often!
    </p>

    <p>Try out searching a single term, or compare two terms to each other:</p>
</div>

{% include 'search_panel.html' %}

<div class="row">
    Not sure how to start? Try searching for <em>træls</em> in Danish or <em>lovely</em> in English.
</div>


{% endblock %}

