
<div role="tabpanel" class="row">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#singlesearch" aria-controls="singlesearch" role="tab" data-toggle="tab">Single Term Search</a></li>
    <li role="presentation"><a href="#comparisonsearch" aria-controls="comparisonsearch" role="tab" data-toggle="tab">Comparison Search</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active col-md-12 col-xs-12" id="singlesearch">
        {% include 'single_search_bar.html' %}
    </div>

    <div role="tabpanel" class="tab-pane fade col-md-12 col-xs-12" id="comparisonsearch">
        {% include 'comparison_search_bar.html' %}
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-12 col-xs-12">
      Search syntax:
      <ul>
        <li>The Kleene star, <em>*</em>, matches everything, so <em>toll*</em> in German covers <em>toll, tolle, tolles, …</em></li>
        <li>A <em>?</em> matches one character, so <em>toll?</em> in German only covers <em>toll, tolle</em></li>
        <li>Space-separated terms return the union of all of them, i.e., <em>good better best</em> matches all comparisons of <em>good</em></li>
        <li>Enclosing terms in quotes <em>"</em> searches for the exact phrase, e.g., <em>"nice job"</em> searches for the two words in that order</li>
      </ul>
    </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
  Currently available records:
    <ul>
      {% for (language_code, country_code, language_name, country_name) in available_options %}
        <li>{{language_name}}/{{country_name}}: {{ "{:,}".format(totals[country_code]) }}</li>
      {% endfor %}
    </ul>
  </div>
</div>


