{% extends "humboldt_layout.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#singlesearch" aria-controls="singlesearch" role="tab" data-toggle="tab">Single Term Search</a></li>
    <li role="presentation"><a href="#comparisonsearch" aria-controls="comparisonsearch" role="tab" data-toggle="tab">Comparison Search</a></li>
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="singlesearch">
      {% include 'single_search_bar.html' %}
  </div>

  <div role="tabpanel" class="tab-pane fade" id="comparisonsearch">
      {% include 'comparison_search_bar.html' %}
  </div>

</div>

</div>


{% endblock %}

