    <form class="form-inline input-lg" method="post">
        <div class="form-group col-md-6 col-xs-7">
            <label for="singleTermQuery">Search for</label>
            <input type="search" class="form-control"
                   id="singleTermQuery" name="singleTermQuery" placeholder="Search terms">
        </div>
        <div class="form-group col-md-4 col-xs-5">
            <label for="languageAndRegion">Where</label>
            <select class="form-control" name="languageAndRegion">
                {% for (language_code, iso_code, language_name, country_name) in available_options %}
                <option value="{{language_code}}:{{iso_code}}"
                {% if country_code == iso_code %}
                selected
                {% endif %}
                >{{language_name}}/{{country_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-2 col-xs-4">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </form>

