<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Media Language Variation</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" />
    <!-- Setting up Kartograph -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.qtip.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/raphael-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.qtip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chroma.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/kartograph.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/setup.css') }}" />

    {% block resultcommon %}{% endblock %}

    <body>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap theme</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>


      <div class="container" style="margin-top:80px;"> <!-- Main Div -->
        <h1>Language Variation</h1>

        <h2>Target Variables</h2>


        <form class="form-inline" name="search" action="/results" method="post">
          Select a country and language:
          <select class="form-control" name="country" id="country">
            <option {% if country == "da-DK" %} selected="selected" {% endif %} value="da-DK">da-DK</option>
            <option {% if country == "en-GB" %} selected="selected" {% endif %} value="en-GB">en-GB</option>
          </select>
          <br/>
          <br/>
          <div class="form-group">
            <label for="term0">Please enter the first variant(s): </label>
            <input id="term0" type="text" name="searchbox1" value="{{queries[0]}}">
          </div>
          <div class="form-group">
            <label for="term1">second variant(s): </label>
            <input id="term1" type="text" name="searchbox2" value="{{queries[1]}}">
          </div>
          <button class="btn btn-default" type="submit" value="submit">Submit</button>
        </form>
        <hr/>
        <div name="titles" style="width:100%">
          {% if not queries[0] == "" %}
          <div class="splitl"><h2 align="center">{{queries[0]}}</h2></div>
          {% endif %}
          {% if not queries[1] == "" %}
          <div class="splitr"><h2 align="center">{{queries[1]}}</h2></div>
          {% endif %}
          <div class="clear"></div>
        </div>
        <hr/>
        <div name="results" style="width:100%;">
          <h3 align="center">Results</h3>
          <div class="splitl">
            {% block results0 %}{% endblock %}
          </div>
          <div class="splitr">
            {% block results1 %}{% endblock %}
          </div>
          <div class="clear"></div>
        </div>
        <hr/>
        <div name="concordances" style="width:100%;">
          <h3 align="center">Concordances</h3>
          <div class="splitl">
            {% block concordances0 %}{% endblock %}
          </div>
          <div class="splitr">
            {% block concordances1 %}{% endblock %}
          </div>
          <div class="clear"></div>
        </div>
        <hr/>
        <div name="graphics0" style="width:100%;">
          <h3 align="center">Demographics</h3>
          <div class="splitl">
            {% block graphics00 %}{% endblock %}
            <div class="clear"></div>
          </div>
          <div class="splitr">
            {% block graphics10 %}{% endblock %}
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <hr/>
        <div name="graphics1" style="width:100%;">
          <h3 align="center">Maps</h3>
          <div class="splitl">
            {% block graphics01 %}{% endblock %}
            <div class="clear"></div>
          </div>
          <div class="splitr">
            {% block graphics11 %}{% endblock %}
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>


        {% block scale %}{% endblock %}
      </div>


    </body>



</html>
