<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Media Language Variation</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/setup.css') }}" />
    <!-- Setting up Kartograph -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.qtip.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/raphael-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.qtip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chroma.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/kartograph.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    {% block resultcommon %}{% endblock %}

    <body style="margin: 2.5%">
      <div class="main"> <!-- Main Div -->
        <h1>Language Variation</h1>

        <h2>Target Variables</h2>


        <form name="search" action="/results" method="post">
          <p>
            Select a country and language:
            <select name="country" id="country">
              <option {% if country == "da-DK" %} selected="selected" {% endif %} value="da-DK">da-DK</option>
              <option {% if country == "en-GB" %} selected="selected" {% endif %} value="en-GB">en-GB</option>
            </select>
          <p>Please enter the first variant(s): <input type="text" name="searchbox1" value="{{queries[0]}}">
            second variant(s): <input type="text" name="searchbox2" value="{{queries[1]}}"></p>
          <input type="submit" value="Submit">
          <hr/>
          </p>
          <div name="titles" style="width:100%">
            <div class="splitl"><h2 align="center">{{queries[0]}}</h2></div>
            <div class="splitr"><h2 align="center">{{queries[1]}}</h2></div>
            <div class="clear"></div>
          </div>
          <hr/>
          <div name="results" style="width:100%;">
            <h3 align="center">Results</h3>
            <div class="splitl">
              {% block results0 %}{% endblock %}
            </div>
            <div class="splitr">
              {% block results1 %}{% endblock %}
            </div>
            <div class="clear"></div>
          </div>
          <hr/>
          <div name="concordances" style="width:100%;">
            <h3 align="center">Concordances</h3>
            <div class="splitl">
              {% block concordances0 %}{% endblock %}
            </div>
            <div class="splitr">
              {% block concordances1 %}{% endblock %}
            </div>
            <div class="clear"></div>
          </div>
          <hr/>
          <div name="graphics0" style="width:100%;">
            <h3 align="center">Graphics</h3>
            <div class="splitl">
              {% block graphics00 %}{% endblock %}
              <div class="clear"></div>
            </div>
            <div class="splitr">
              {% block graphics10 %}{% endblock %}
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>
          <br/>
          <div name="graphics1" style="width:100%;">
            <div class="splitl">
              {% block graphics01 %}{% endblock %}
              <div class="clear"></div>
            </div>
            <div class="splitr">
              {% block graphics11 %}{% endblock %}
              <div class="clear"></div>
            </div>
            <div class="clear"></div>
          </div>

        </form>
      </div>


    </body>

    {% block scale %}{% endblock %}


</html>
